.demo-box {
  border: 1px solid #ddd;
  margin-bottom: 16px;

  display: flex;
  .demo-preview {
    width: 0;
    flex: 1;
    padding: 16px;

    .demo-title {
      margin-top: 32px;
      margin-left: -24px;
      padding: 8 16px;
      border: 1px solid #ddd;
      background: #fff;
      box-shadow: 0 0 4px #ddd;
    }
  }
  .demo-code {
    width: 0;
    flex: 1;
    border-left: 1px solid #ddd;
    padding: 16px;
    pre {
      margin: 0;
    }
  }
}
