.demo-box {
  display: flex;
  margin-bottom: 16px;
  border: 1px solid #ddd;

  .demo-preview {
    flex: 1;
    width: 0;
    padding: 16px;

    .demo-title {
      margin-top: 32px;
      margin-left: -32px;
      padding: 8 16px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 0 4px #ddd;
    }
  }

  .demo-code {
    flex: 1;
    width: 0;
    border-left: 1px solid #ddd;

    .code-block {
      position: relative;

      pre {
        margin: 0;
        padding: 16px;
        overflow: auto;
      }

      & + .code-block {
        border-top: 1px solid #ddd;
      }

      .code-language {
        position: absolute;
        top: 6px;
        right: 6px;
        color: #aaa;
        text-transform: uppercase;
        user-select: none;
      }
    }
  }
}
