@import "../../style/theme.less";

.averd-tag {
  display: inline-block;
  padding: 3px 6px;
  font-size: 0.85rem;
  background: @background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
}
