@preset-colors: magenta red volcano orange gold yellow lime green cyan blue geekblue purple;

@blue-base: #1890ff;
@purple-base: #722ed1;
@cyan-base: #13c2c2;
@green-base: #52c41a;
@magenta-base: #eb2f96;
@red-base: #f5222d;
@orange-base: #fa8c16;
@yellow-base: #fadb14;
@volcano-base: #fa541c;
@geekblue-base: #2f54eb;
@lime-base: #a0d911;
@gold-base: #faad14;

@blue-1: lighten(@blue-base, 50%);
@blue-2: lighten(@blue-base, 40%);
@blue-3: lighten(@blue-base, 30%);
@blue-4: lighten(@blue-base, 20%);
@blue-5: lighten(@blue-base, 10%);
@blue-6: @blue-base;
@blue-7: darken(@blue-base, 10%);
@blue-8: darken(@blue-base, 20%);
@blue-9: darken(@blue-base, 30%);
@blue-10: darken(@blue-base, 40%);

@purple-1: lighten(@purple-base, 50%);
@purple-2: lighten(@purple-base, 40%);
@purple-3: lighten(@purple-base, 30%);
@purple-4: lighten(@purple-base, 20%);
@purple-5: lighten(@purple-base, 10%);
@purple-6: @purple-base;
@purple-7: darken(@purple-base, 10%);
@purple-8: darken(@purple-base, 20%);
@purple-9: darken(@purple-base, 30%);
@purple-10: darken(@purple-base, 40%);

@cyan-1: lighten(@cyan-base, 50%);
@cyan-2: lighten(@cyan-base, 40%);
@cyan-3: lighten(@cyan-base, 30%);
@cyan-4: lighten(@cyan-base, 20%);
@cyan-5: lighten(@cyan-base, 10%);
@cyan-6: @cyan-base;
@cyan-7: darken(@cyan-base, 10%);
@cyan-8: darken(@cyan-base, 20%);
@cyan-9: darken(@cyan-base, 30%);
@cyan-10: darken(@cyan-base, 40%);

@green-1: lighten(@green-base, 50%);
@green-2: lighten(@green-base, 40%);
@green-3: lighten(@green-base, 30%);
@green-4: lighten(@green-base, 20%);
@green-5: lighten(@green-base, 10%);
@green-6: @green-base;
@green-7: darken(@green-base, 10%);
@green-8: darken(@green-base, 20%);
@green-9: darken(@green-base, 30%);
@green-10: darken(@green-base, 40%);

@magenta-1: lighten(@magenta-base, 50%);
@magenta-2: lighten(@magenta-base, 40%);
@magenta-3: lighten(@magenta-base, 30%);
@magenta-4: lighten(@magenta-base, 20%);
@magenta-5: lighten(@magenta-base, 10%);
@magenta-6: @magenta-base;
@magenta-7: darken(@magenta-base, 10%);
@magenta-8: darken(@magenta-base, 20%);
@magenta-9: darken(@magenta-base, 30%);
@magenta-10: darken(@magenta-base, 40%);

@red-1: lighten(@red-base, 50%);
@red-2: lighten(@red-base, 40%);
@red-3: lighten(@red-base, 30%);
@red-4: lighten(@red-base, 20%);
@red-5: lighten(@red-base, 10%);
@red-6: @red-base;
@red-7: darken(@red-base, 10%);
@red-8: darken(@red-base, 20%);
@red-9: darken(@red-base, 30%);
@red-10: darken(@red-base, 40%);

@orange-1: lighten(@orange-base, 50%);
@orange-2: lighten(@orange-base, 40%);
@orange-3: lighten(@orange-base, 30%);
@orange-4: lighten(@orange-base, 20%);
@orange-5: lighten(@orange-base, 10%);
@orange-6: @orange-base;
@orange-7: darken(@orange-base, 10%);
@orange-8: darken(@orange-base, 20%);
@orange-9: darken(@orange-base, 30%);
@orange-10: darken(@orange-base, 40%);

@yellow-1: lighten(@yellow-base, 50%);
@yellow-2: lighten(@yellow-base, 40%);
@yellow-3: lighten(@yellow-base, 30%);
@yellow-4: lighten(@yellow-base, 20%);
@yellow-5: lighten(@yellow-base, 10%);
@yellow-6: @yellow-base;
@yellow-7: darken(@yellow-base, 10%);
@yellow-8: darken(@yellow-base, 20%);
@yellow-9: darken(@yellow-base, 30%);
@yellow-10: darken(@yellow-base, 40%);

@volcano-1: lighten(@volcano-base, 50%);
@volcano-2: lighten(@volcano-base, 40%);
@volcano-3: lighten(@volcano-base, 30%);
@volcano-4: lighten(@volcano-base, 20%);
@volcano-5: lighten(@volcano-base, 10%);
@volcano-6: @volcano-base;
@volcano-7: darken(@volcano-base, 10%);
@volcano-8: darken(@volcano-base, 20%);
@volcano-9: darken(@volcano-base, 30%);
@volcano-10: darken(@volcano-base, 40%);

@geekblue-1: lighten(@geekblue-base, 50%);
@geekblue-2: lighten(@geekblue-base, 40%);
@geekblue-3: lighten(@geekblue-base, 30%);
@geekblue-4: lighten(@geekblue-base, 20%);
@geekblue-5: lighten(@geekblue-base, 10%);
@geekblue-6: @geekblue-base;
@geekblue-7: darken(@geekblue-base, 10%);
@geekblue-8: darken(@geekblue-base, 20%);
@geekblue-9: darken(@geekblue-base, 30%);
@geekblue-10: darken(@geekblue-base, 40%);

@lime-1: lighten(@lime-base, 50%);
@lime-2: lighten(@lime-base, 40%);
@lime-3: lighten(@lime-base, 30%);
@lime-4: lighten(@lime-base, 20%);
@lime-5: lighten(@lime-base, 10%);
@lime-6: @lime-base;
@lime-7: darken(@lime-base, 10%);
@lime-8: darken(@lime-base, 20%);
@lime-9: darken(@lime-base, 30%);
@lime-10: darken(@lime-base, 40%);

@gold-1: lighten(@gold-base, 50%);
@gold-2: lighten(@gold-base, 40%);
@gold-3: lighten(@gold-base, 30%);
@gold-4: lighten(@gold-base, 20%);
@gold-5: lighten(@gold-base, 10%);
@gold-6: @gold-base;
@gold-7: darken(@gold-base, 10%);
@gold-8: darken(@gold-base, 20%);
@gold-9: darken(@gold-base, 30%);
@gold-10: darken(@gold-base, 40%);
