@import "./color.less";

@prefix: "averd";

@primary-color: @purple-base;
@secondary-color: @yellow-base;
@success-color: @green-base;
@warning-color: @orange-base;
@error-color: @red-base;

@background-color: #fafafa;
@border-color: #d9d9d9;

@border-radius: 2px;
